In [1]:
import pandas as pd

In [5]:
data = pd.read_csv("cpdata.csv")
fert = pd.read_csv("Fertilizer.csv")

In [6]:
def low(x):
    return str(x).lower()

In [12]:
data["label"] = data["label"].apply(low) # converting in to lower
fert["Crop"] = fert["Crop"].apply(low)

In [13]:
la = data.label.unique()

In [14]:
la

array(['rice', 'wheat', 'mung bean', 'tea', 'millet', 'maize', 'lentil',
       'jute', 'coffee', 'cotton', 'ground nut', 'peas', 'rubber',
       'sugarcane', 'tobacco', 'kidney beans', 'moth beans', 'coconut',
       'black gram', 'adzuki beans', 'pigeon peas', 'chickpea', 'banana',
       'grapes', 'apple', 'mango', 'muskmelon', 'orange', 'papaya',
       'pomegranate', 'watermelon'], dtype=object)

In [15]:
mt= []
dic = []
for l in la:
    mt.append(fert[fert["Crop"]== l])
    if len(fert[fert["Crop"]== l]) > 0:
        dic.append(l)

In [16]:
dic

['rice',
 'maize',
 'jute',
 'coffee',
 'cotton',
 'kidney beans',
 'coconut',
 'black gram',
 'banana',
 'grapes',
 'apple',
 'mango',
 'orange',
 'papaya',
 'pomegranate']

In [17]:
lt = []
for m in dic:
    lt.append(fert[fert["Crop"] == m])
    print(m)

rice
maize
jute
coffee
cotton
kidney beans
coconut
black gram
banana
grapes
apple
mango
orange
papaya
pomegranate

In [18]:
lt[14]

      Unnamed: 0         Crop   N   P   K    pH
60            60  pomegranate  20  10  40  5.50
157          157  pomegranate  20  10  40  5.52
254          254  pomegranate  20  10  40  5.54
351          351  pomegranate  20  10  40  5.56
448          448  pomegranate  20  10  40  5.58
545          545  pomegranate  20  10  40  5.60
642          642  pomegranate  20  10  40  5.62
739          739  pomegranate  20  10  40  5.64
836          836  pomegranate  20  10  40  5.66
933          933  pomegranate  20  10  40  5.68
1030        1030  pomegranate  20  10  40  5.48
1127        1127  pomegranate  20  10  40  5.46
1224        1224  pomegranate  20  10  40  5.44
1321        1321  pomegranate  20  10  40  5.42
1418        1418  pomegranate  20  10  40  5.40
1515        1515  pomegranate  20  10  40  5.38
1612        1612  pomegranate  20  10  40  5.36
1709        1709  pomegranate  20  10  40  5.34
1806        1806  pomegranate  20  10  40  5.32

In [19]:
final = pd.DataFrame()

In [29]:
for i in range(0,15):
    c = pd.concat([final,lt[i]])
    final = c

In [30]:
final_of_fert = final.groupby(by = "Crop")["N","P","K","pH"].mean()

C:\Users\CHETAN~1\AppData\Local\Temp/ipykernel_8276/2507412483.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  final_of_fert = final.groupby(by = "Crop")["N","P","K","pH"].mean()

In [31]:

#final_of_fert.columns = ["label", "N" , "P","K","ph" ]
pd.DataFrame(final_of_fert)

                  N      P      K   pH
Crop
apple          20.0  125.0  200.0  6.5
banana        100.0   75.0   50.0  6.5
black gram     40.0   60.0   20.0  5.0
coconut        20.0   10.0   30.0  5.0
coffee        100.0   20.0   30.0  5.5
cotton        120.0   40.0   20.0  5.5
grapes         20.0  125.0  200.0  4.0
jute           80.0   40.0   40.0  5.5
kidney beans   20.0   60.0   20.0  5.5
maize          80.0   40.0   20.0  5.5
mango          20.0   20.0   30.0  5.0
orange         20.0   10.0   10.0  4.0
papaya         50.0   50.0   50.0  6.0
pomegranate    20.0   10.0   40.0  5.5
rice           80.0   40.0   40.0  5.5

In [32]:
final_of_fert

                  N      P      K   pH
Crop
apple          20.0  125.0  200.0  6.5
banana        100.0   75.0   50.0  6.5
black gram     40.0   60.0   20.0  5.0
coconut        20.0   10.0   30.0  5.0
coffee        100.0   20.0   30.0  5.5
cotton        120.0   40.0   20.0  5.5
grapes         20.0  125.0  200.0  4.0
jute           80.0   40.0   40.0  5.5
kidney beans   20.0   60.0   20.0  5.5
maize          80.0   40.0   20.0  5.5
mango          20.0   20.0   30.0  5.0
orange         20.0   10.0   10.0  4.0
papaya         50.0   50.0   50.0  6.0
pomegranate    20.0   10.0   40.0  5.5
rice           80.0   40.0   40.0  5.5

In [33]:
data.rename(columns={"label": "Crop"}, inplace=True)

In [34]:
fuck = pd.merge(data,final_of_fert,on="Crop")

In [35]:
fuck.drop("pH" ,axis=1 ,inplace=True)

In [36]:
fuck

,temperature,humidity,ph,rainfall,Crop,N,P,K
0,20.879744,82.002744,6.502985,202.935536,rice,80.0,40.0,40.0
1,21.770462,80.319644,7.038096,226.655537,rice,80.0,40.0,40.0
2,23.004459,82.320763,7.840207,263.964248,rice,80.0,40.0,40.0
3,26.491096,80.158363,6.980401,242.864034,rice,80.0,40.0,40.0
4,20.130175,81.604873,7.628473,262.717340,rice,80.0,40.0,40.0
...,...,...,...,...,...,...,...,...
1495,20.002190,85.836182,7.116539,112.337046,pomegranate,20.0,10.0,40.0
1496,19.851393,89.807323,6.430163,102.818636,pomegranate,20.0,10.0,40.0
1497,21.254336,92.650589,7.159521,106.278467,pomegranate,20.0,10.0,40.0
1498,23.653741,93.326575,6.431266,109.807618,pomegranate,20.0,10.0,40.0
1499,23.884048,86.206138,6.082572,108.312179,pomegranate,20.0,10.0,40.0

In [37]:
fuck.Crop.unique()

array(['rice', 'maize', 'jute', 'coffee', 'cotton', 'kidney beans',
       'coconut', 'black gram', 'banana', 'grapes', 'apple', 'mango',
       'orange', 'papaya', 'pomegranate'], dtype=object)

In [38]:
fuck.to_csv("farmer_helper.csv")